<section class="w-full h-full md:h-screen bg-cover md-right-top bg-left-top bg-fixed bg-no-repeat bg-img-top">
  <div class="w-full h-full flex justify-center md:pt-44 text-white" style="background-color: rgba(0,0,0,0.5);">
    <div class="flex flex-col items-center">
      <%= image_tag('logo.png', class: 'my-2 w-20 md:w-48') %>
      <p class="text-5xl md:text-8xl font-bold py-4 text-opacity-100 playfair">
        Guada Baltena
      </p>
      <p class="px-2 pb-8 mx-auto text-center text-md lg:w-1/2 md:text-xl mt-4 andika font-hairline">Imported from
        Ethiopia, our products are 100% authentic. Whether you’re an Ethiopian food veteran, or you’re looking to try
        Ethiopian cuisine for the first time, you’ll want to be well-acquainted with our wide variety of East African
        spices and seasonings.</p>
    </div>
  </div>
</section>
